<nav class="navbar-content">
    <a class="logo" href="/"><img src="images/bless.png" width="60px" alt="Logo"></a>
    <div class="nav-links">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
            Domů
        </NavLink>
        <NavLink class="nav-link" href="clenove">
            Členové
        </NavLink>
        <NavLink class="nav-link" href="dynmapa">
            Dynmapa
        </NavLink>
        <NavLink class="nav-link" href="about">
            O nás
        </NavLink>
        <NavLink class="nav-link" href="pravidla">
            Pravidla serveru
        </NavLink>
    </div>
</nav>
