@page "/"

<PageTitle>Home @AppConfig.AppName</PageTitle>


<div class="container">
    <div class="center-content">
        <h1 class="main-title">BlessSMP</h1>
        <h2 class="sub-title">Toto je oficiální stránka BlessSMP</h2>
    </div>
</div>