@page "/pravidla"

<PageTitle>Pravidla @AppConfig.AppName</PageTitle>

<div class="container">
    <h1>Pravidla</h1>
    <ul>
        <li>Žádné odhlašování v průběhu boje</li>
        <li>Žádné setrvání na obrazovce oživení déle než 1 minutu</li>
        <li>Žádné používání krystalů konce – výjimkou je pouze oživení Ender draka</li>
        <li>Žádné používání kotvy pro oživení – výjimka platí pouze pro nastavení spawnu v podsvětí</li>
        <li>Žádné TNT důlní vozíky v přímém boji – lze použít pouze v pastích</li>
        <li>Žádné trojzubce s enchantem Riptide</li>
        <li>Žádné elytry v boji</li>
        <li>IOU (dluhopisy) jsou vynucovány serverem</li>
        <li>Žádné odstřelování proudem (stream sniping) – pokud k tomu není uděleno výslovné povolení</li>
        <li>Žádné používání ledu v boji – pravidlo zavedeno po Prog 2, aby se předešlo rozhazování spawnu, jelikož drahokamy a lektvary 2. úrovně byly snadněji dostupné</li>

        <li><b>Nesmí se doxovat ani zveřejňovat obličeje bez souhlasu.</b></li>
        <li><b>Svádění ostatních je proti pravidlům. (Vztahy se tu sice mohou vytvářet, ale musí být založené na vzájemném respektu a souhlasu.)</b></li>
    </ul>
</div>